.mainscreen {
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  overflow: hidden;
  perspective: 1000px; /* Add perspective for 3D effect */
}
.leftside-image {
  /*background-image: url(""); Set the container size */
  background-repeat: no-repeat;
  width: 64%;
  height: 92%; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(22deg);
  border-radius: 1.5rem;
  box-shadow: 4px 3px 20px #3535358c;
  transition: transform 0.3s ease;
  z-index: 1;
  overflow: hidden; /* Ensures the image doesn’t overflow the container */
}

.leftside-image img {
  width: 100%; /* Ensure the image scales to the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures the image fills the container */
}

.rightside-content {
  width: 40%; /* Take more space for the content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-left: -10%;
}

.card {
  background: white;
  border-radius: 1.5rem;
  box-shadow: 4px 3px 20px #3535358c;
  width: 80%;
  padding: 2rem;
}
.rightside-content p {
  display: block;
  font-size: 1.1rem;
  font-weight: 450;
  margin-top: 1rem;
  color: black;
}

.inputtext {
  color: #615a5a;
  width: 80%;
  padding: 0.5rem;
  border: 1.5px solid #ccc;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
}
.card h2{
  font-weight: 580;
  font-size: 20px;
  color: black;
}

.inputbox {
  color: #030303;
  padding: 0.5rem;
  border: 1.5px solid #ccc;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  width: 50%;
  color: #615a5a;
}
button {
  background: linear-gradient(135deg, #590b74 35%, #298096 100%);
  padding: 8px 11px 8px 11px;
  margin-top: 5%;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: .11rem;
  outline: none;
  cursor: pointer;
}

.test{
  border-color: red;
}
@media only screen and (max-width: 550px) {
  .card{
    width: 80%;
  }
  .mainscreen{
    height: 100%;
  }
  .inputbox{
    width: 70%;
  }
  .leftside-image{
    display: none;
  }
  .rightside-content{
    width: 100%;
    margin-left: 0%;
  }
}
