<div class="container">
  <div id="logo">
    <span class="test">DripClothe</span>
  </div>
  <div id="paymentMethods">
    <div class="text" style="margin-left: 10%">Payment methods</div>
    <div class="socials">
      <img src="assets/mastercard.svg" class="payment-icons">
      <img src="assets/visa.svg" class="payment-icons">
      <img src="assets/paypal.svg" class="payment-icons">
      <img src="assets/apple-pay.svg" class="payment-icons">
      <img src="assets/amex.svg" class="payment-icons">
    </div>
  </div>
  <div id="socialIcons">
    <div class="text">Find us in</div>
    <div class="socials">
      <img src="assets/facebook.svg" class="payment-icons">
      <img src="assets/instagram.svg" class="payment-icons">
    </div>
  </div>
  <div id="about">
    <div class="text">
      <a [routerLink]="['/about']">
        <h4 style="text-decoration: underline">About us</h4>
      </a>
    </div>
  </div>
  <div id="copyright">
    <h4 style="margin-right: 3%;">© 2024 DripClothe, Inc. All right reserved</h4>
  </div>
</div>
