.container {
  display: grid;

  grid-template-columns: 0.2fr 0.6fr 0.2fr 0.5fr 0.5fr;
  grid-template-rows: 1.2fr 0.1fr;
  grid-template-areas:
    "logo paymentMethods space socialIcons about"
    "copyright copyright copyright copyright copyright";
  grid-gap: 0.2rem;
  background: #24252A;
  font-size: 20px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.test{
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 12%;
  padding: 23px 8px 9px 15px;
  margin-left:5%;
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  background: linear-gradient(
    135deg, #753370 0%, #298096 100%);
  margin-top: 10%;
}

#paymentMethods {
  grid-area: paymentMethods;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#copyright {
  grid-area: copyright;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  text-align: end;
}
#socialIcons {
  grid-area: socialIcons;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#about {
  grid-area: about;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#logo {
  grid-area: logo;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);

}
.text{
  font-weight: 500;
  font-size: 16px;
  margin-top: 100px;
}
.socials{
  width: 100%;
  flex-flow: row wrap;
  margin-top: 3%;
  row-gap: 10px;
  margin-left: 10%
}
.social-icons{
  background-color: #24252A;border-radius: 30px;margin-left: 2rem
}
.payment-icons{
  background-color: #24252A;margin-left: 2rem
}
a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 550px) {
  .container {
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2.2fr 4.2fr ;
    grid-template-areas:
      "logo"
      "about"
      "paymentMethods"
      "socialIcons"
      "copyright";
    text-align: center;
  }
  .socials{
    width: 70%;
    margin-left: 15%;
    row-gap: 10px;
  }
  .text{
    margin-top: 20px;
  }
  .test{
    font-family: "Montserrat", sans-serif;
    width: 50%;
    height: 40%;
    padding: 23px 29px 20px 29px;
    margin-top: 2%;
    margin-left: 21%;
  }
}
