.popup{
  width: 550px;
  padding-bottom: 10px;
  text-align: center;
}
.nav{
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.popup h3{
  font-size: 15px;
  font-weight: 450;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: left;
  font-family: monospace ;
}
.popup button{
  background: linear-gradient(135deg, #590b74 35%, #298096 100%);
  padding: 13px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 30%;
  letter-spacing: .11rem;
  outline: none;
  cursor: pointer;
}
.popup .alert{
  width: 100%;
  background-color: #f15151;
}
.popup .success{
  width: 100%;
  background-color: #078daf;
}

@media only screen and (max-width: 550px) {
  .popup{
    width: 311px;
    height: 201px;
  }

}

