<div class="container">
  <div id="content1">
    <div class="username-container" *ngFor="let tempCartItem of cartItems">
      <div class="profile-container">
        <div class="test">
          <div id="content3">
            <div class="profile-img">
              <img src={{tempCartItem.photoUrl.photoUrl}} alt="Profile Picture">
            </div>
          </div>
          <div id="content4">
            <div class="cart-item-description">
              <div class="user-title">{{ tempCartItem.name }}</div>
              <div class="user-title">Size :{{ tempCartItem.size.name }}</div>
              <div class="user-title">Color :{{ tempCartItem.color.name }}</div>
              <div class="user-title">Price :{{ tempCartItem.unitPrice  | currency:"USD" }}</div>
            </div>
          </div>
          <div id="content5">
            <!--<button class="delete" (click)="removeCartItem(tempCartItem)">Delete</button>-->
            <button style="background: white; border: 0;cursor: pointer;color: #f14747;" (click)="removeCartItem(tempCartItem)"><mat-icon>delete</mat-icon></button>
          </div>

          <div id="content6">
            <span class="material-icons" *ngIf="tempCartItem.quantity > 1" (click)="decrementQuantity(tempCartItem)"
                  style="color: #4c2e71;cursor: pointer;font-size: 35px">
              do_not_disturb_on
            </span>
            <span class="material-icons" *ngIf="tempCartItem.quantity == 1"
                  style="color: #4c2e71;opacity: 0.3;font-size: 35px">
              do_not_disturb_on
            </span>
            <div class="user-title">
              Quantity :{{ tempCartItem.quantity }}
            </div>
            <span class="material-icons" (click)=" incrementQuantity(tempCartItem)"
                  style="color: #2b72c4;cursor: pointer;font-size: 35px">
              add_circle
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content2">
    <div class="shippingCard">
      <div class="shippingHeader">Shipping Method</div>
      <!-- Type one of shipping -->
      <div class="shippingStandard">
        <div class="border" id="borderStan" (click)="ActivateStanMeth()">
          Standard Method :
          <div class="shippingStandardDesc">
            <span class="line-text">Between 7-10 work days</span>
            <div class="outer-circle">
              <div class="inner-circle" id="circleStan"></div>
            </div>
          </div>
          <span class="ShippingPrice">Shipping fees : Free</span>
        </div>
      </div>
      <!-- Type two of shipping -->
      <div class="shippingStandard" *ngIf="showPremuime">
        <div class="border" id="borderPrem" (click)="ActivatePremMeth()">
          Premium Method :
          <div class="shippingStandardDesc">
            <span class="line-text">Between 5-7 work days</span>
            <div class="outer-circle">
              <div class="inner-circle" id="circlePrem"></div>
            </div>
          </div>
          <span class="ShippingPrice">Shipping fees : $12.00</span>
        </div>
      </div>
      <div
        style="height: 3%; border-right-style: solid ;  border-right-color: #298096;  border-left-style: solid;  border-left-color: #590b74;"></div>
      <div class="shippingStandard" id="coupon" style="height: 15%">
        <div class="custom-search">
          <form [formGroup]="couponFormGroup">
            <input formControlName="coupon" type="text" class="custom-search-input" placeholder="Enter your coupon">
            <button class="custom-search-botton" type="submit" (click)="VerifyCoupon()">Verify</button>
          </form>
        </div>
        <div style="margin-left: 20%;padding-top: 2%;color: #2b72c4" *ngIf="showCouponValid">Coupon Valid ✓</div>
        <div style="margin-left: 20%;padding-top: 2%; color:#ea3737" *ngIf="showCouponInvalid">Coupon Invalid !</div>
      </div>
      <!-- Total price-->
      <div class="totalPrice" style="padding: 3%">
        <h3 style="font-family: Montserrat, sans-serif ; margin: 0 0 0">Search and service fees : $2.00</h3>
        <h3 style="font-family: Montserrat, sans-serif ; margin: 0 0 0">Product prices : {{totalPrice | currency:"USD" }}</h3>
        <h2 style="font-family: Montserrat, sans-serif ; margin: 0 0 0">Total Price : {{ finalTotalPrice + shippingFee| currency:"USD" }}</h2>
        <div style="display: flex;justify-content: center;">
          <button (click)="NavigateToCheckout()" class="checkout">Go to checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>

