<div class="banner-container">
  <video autoplay muted loop class="video-background">
    <source src="assets/videos/banner-video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <img src="https://media.gqmagazine.fr/photos/6675f136df33b40ea1aee497/4:3/w_4948,h_3711,c_limit/GettyImages-2158642288.jpg" alt="Celebrity" class="banner-image" />
  <div class="banner-text">
    <h1>Step Into the Spotlight:</h1>
    <h2>Choose Your Favorite Celebrity,</h2>
    <h2>Select Your Iconic Style!</h2>
  </div>
  <!--
  <div class="scroll-arrow" (click)="scrollToContent()">
    <div class="double-chevron">
      <span>&#187;</span> Downward chevron
    </div>
  </div>-->
</div>
