.banner {
  height: 230px;
  display: flex;
  background-image: url("src/assets/3063067.webp");
  background-size: 100% auto;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

.card {
  display: flex;
  margin: 6% 0 6% 0;
}

.card img {
  width: auto;
  height: auto;
}

.button {
  padding: 10px;
  border: solid 1px rgba(0, 136, 169, 1);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: rgba(0, 136, 169, 1);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 20px;
}

input {
  border: solid 1px rgba(0, 136, 169, 1);
  padding: 10px;
  border-radius: 5px;
  margin-right: 4px;
  display: inline-block;
  width: 50%;

  margin-top: 1rem;
}

.results {
  display: grid;
  column-gap: 3%;
  grid-template-columns: repeat(auto-fill, minmax(100px, 276px));
  margin-top: 5%;
  text-align: center;
}

.listing {
  animation-delay: 1600ms;
  border-radius: 30px;
  text-align: center;
  margin-top: 10%;
  /*width: 400px;
  height: 350px;*/
  width: 100%;
  height: 68%;
  background-color: rgb(210 210 210);
  animation: loading 4000ms infinite linear;
}
@keyframes loading {
  0% {
    background-color: rgb(210 210 210);
  }

  40% {
    background-color: rgb(210 210 210);
  }
  70% {
    background-color: rgb(165, 165, 165);
  }
  90% {
    background-color: rgb(210 210 210);
  }
}
.listing-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: black;
  text-align: center;
  background: transparent;
}

.artisteHeader {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: black;
  margin-left: 70px;
  margin-top: 50px;
  background: transparent;
}

.artisteHeader1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: black;
  margin-left: 30px;
  padding-bottom: 15px;
  background: transparent;
  cursor: pointer;
}

.listing-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
  text-decoration: none;
  color: black;
}

.search {
  text-align: center;
}

.footer {
  margin-top: 5%;
}

@media screen and (min-width: 1000px) {
  .banner {
    height: 450px;
  }

  .card {
    margin-top: 1%;
    margin-bottom: 1%;
  }

  input {
    width: 30%;

  }

  .results {
    column-gap: 80px;
    row-gap: 50px;
    margin-left: 5%;
    margin-top: 3%;
  }
}

@media (min-width: 500px) and (max-width: 868px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 499px) {
  .results {
    grid-template-columns: 1fr;
  }
}
