<div class="main">
  <div class="centerSide">
    <div *ngIf="reviews && reviews.length > 0" class="carousel-container">
      <span class="material-icons prev" (click)="onPrevClick()" *ngIf="selectedIndex[0] > 0">arrow_back</span>
      <span class="material-icons prevOpac" *ngIf="selectedIndex[0] <= 0">arrow_back</span>
      <div *ngFor="let review of reviews; let i=index" style="align-items: center;justify-content: center;display: flex;">
        <div [ngClass]="selectedIndex.includes(i) ? 'image-active' : 'hidden'">
          <div class="testimental">
            <h1>{{review.firstName}}</h1>
            <p style="margin: 0 0 0">{{review.review}}</p>
            <div class="rating">
              <h3>({{review.starNumber}})</h3>
              <img src="assets/star.svg">
            </div>
          </div>
        </div>
      </div>
      <span class="material-icons next" (click)="onNextClick()"
            *ngIf="selectedIndex[selectedIndex.length - 1] < this.reviews.length - 1">arrow_forward</span>
      <span class="material-icons nextOpac"
            *ngIf="selectedIndex[selectedIndex.length - 1] >= this.reviews.length - 1">arrow_forward</span>
    </div>
  </div>
</div>
